<div class="row">
    <div class="col-lg-12" *ngIf="chartData.length > 0">
        <mims-line-chart [data]="chartData"
                         [view]="chartSize">
        </mims-line-chart>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" *ngIf="tableData.length > 0">
        <mims-data-grid [rowData]="tableData"
                        [headerName]="tableHeaders"
                        [columName]="tableHeaders"
                        [pageSize]="paginationDetails.HowManyPerPage"
                        [totalItems]="paginationDetails.Total"
                (changePagination)="changePagination($event)">
        </mims-data-grid>
    </div>
</div>
