<mims-header [title]="'Line Chart'"
             [subTitle]="'OEE'"
             [color]="'#5965e7'">
    <oee-filter-box [productSelectBoxData]="productSelectBoxData$ | async"
                    [machineSelectBoxData]="machineSelectBoxData$ | async"
                    [defaultFilters]="request.Filters"
                    (OnFilterApply)="filtersOptions($event)">
    </oee-filter-box>
</mims-header>

<oee-information [chartData]="chartData$ | async"
                 [tableData]="tableData$ | async"
                 [paginationDetails]="tablePaging$ | async"
                 [chartSize]="chartSize"
                 [tableHeaders]="tableHeaders"
                 (changePage)="requestNewPage($event)">
</oee-information>