<form [formGroup]="processDetailForm" class="clr-form clr-form-horizontal">
    <div class="form-group row">
        <div class="col-lg-4">
            <mims-select-box [data]="machineSelectBoxData"
                             formControlName="Machine">
            </mims-select-box>
        </div>
        <div class="col-lg-5">
            <mims-date-picker [size]="11"
                              formControlName="StartDate">
            </mims-date-picker>
        </div>
        <div class="col-lg-3">
            <mims-button-solid (click)="submitFilters()" [value]="'SUBMIT'"></mims-button-solid>
        </div>
    </div>
</form>