<ng-template #operationsRowTemplate>
        <div class="col-xs">
            <p class="p4">Name</p>
        </div>
        <div class="col-xs">
            <p class="p4">Number</p>
        </div>
        <div class="col-xs">
            <p class="p4">SubContractor</p>
        </div>
</ng-template>

<ng-template #operationsBodyTemplate let-item>
     <div class="col-xs">
       <p class="p3">{{item.Description}}<p>
    </div>
    <div class="col-xs">
        <p class="p3">{{item.Number}}<p>
    </div>
    <div class="col-xs">
        <p class="p3">{{item.Subcontractor?.Name}}<p>
    </div>
</ng-template>

<ng-template #machinesRowTemplate>
        <div class="col-xs">
            <p class="p4">Name</p>
        </div>
        <div class="col-xs">
            <p class="p4">Operation Name</p>
        </div>
        <div class="col-xs">
            <p class="p4">MDE</p>
        </div>
        <div class="col-xs">
            <p class="p4">OEE</p>
        </div>    
</ng-template>

<ng-template #machinesBodyTemplate let-item>
        <div class="col-xs">
            <p class="p3">{{item.MachineName}}<p>
        </div>
        <div class="col-xs">
                <p class="p3">{{item.OperationName}}<p>
        </div>
        <div class="col-xs">
                <p class="p3">{{item.MDE}}<p>
        </div>
        <div class="col-xs">
                <p class="p3">{{item.OEE}}<p>
        </div>
</ng-template>

<ng-template #motesRowTemplate>
        <div class="col-xs">
            <p class="p4">Name</p>
        </div>
        <div class="col-xs">
            <p class="p4">Machine Name</p>
        </div>
        <div class="col-xs">
            <p class="p4">Edge</p>
        </div>
        <div class="col-xs">
            <p class="p4">Poll Interval</p>
        </div>    
</ng-template>

<ng-template #motesBodyTemplate let-item>
    <div class="col-xs">
            <p class="p3">{{item.Name}}<p>
    </div>
    <div class="col-xs">
            <p class="p3">{{item.MachineName}}<p>
    </div>
    <div class="col-xs">
            <p class="p3">{{item.EdgeName}}<p>
    </div>
    <div class="col-xs">
            <p class="p3">{{item.PollInterval}}<p>
    </div>
</ng-template>

<ng-template #sensorsRowTemplate>
        <div class="col-xs">
            <p class="p4">Mote Name</p>
        </div>
        <div class="col-xs">
            <p class="p4">Contact Message</p>
        </div>
        <div class="col-xs">
            <p class="p4">Machine Input Terminal</p>
        </div>
        <div class="col-xs">
            <p class="p4">Machine MCode</p>
        </div>
        <div class="col-xs">
                <p class="p4">Line Out:</p>
        </div>
</ng-template>

<ng-template #sensorsBodyTemplate let-item>
    <div class="col-xs">
           <p class="p3">{{item.MoteNames}}<p>
    </div>
    <div class="col-xs">
            <p class="p3">{{item.ContactMessageName}}<p>
     </div>
     <div class="col-xs">
            <p class="p3">{{item.MachineInputTerminal}}<p>
     </div>
     <div class="col-xs">
            <p class="p3">{{item.MachineMCode}}<p>
     </div>
     <div class="col-xs">
            <p class="p3">{{item.LineOut}}"<p>
     </div>
</ng-template>

<!-- Generic Item For each Data Added or Removed -->
<ng-template #resumeDataTemplate let-data='data' let-title='title' let-rowTemplate='rowTemplate' let-bodyTemplate='bodyTemplate'>
    <ng-container *ngIf="data.length>0">
        <div class="row">
            <p class="p2">{{title}}</p>
        </div>
        <div class="row">
            <ng-container *ngTemplateOutlet="rowTemplate"></ng-container>
        </div>
        <ng-container *ngFor="let item of data;let i = index;">
            <div class="row">
                <ng-container *ngTemplateOutlet="bodyTemplate;context:{$implicit:item}"></ng-container>
            </div>
        </ng-container>
    </ng-container>  
</ng-template>


<!-- Operations -->

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {
      data:resumeData.addedOperations, 
      title:'Added Operations',
      rowTemplate: operationsRowTemplate,
      bodyTemplate: operationsBodyTemplate
      }">
</ng-container>

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.removedOperations, 
      title:'Removed Operations',
      rowTemplate: operationsRowTemplate,
      bodyTemplate: operationsBodyTemplate
      }">
</ng-container>

<!-- Machines -->

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.addedMachines, 
      title:'Added Machines',
      rowTemplate: machinesRowTemplate,
      bodyTemplate: machinesBodyTemplate
      }">
</ng-container>

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.removedMachines, 
      title:'Removed Machines',
      rowTemplate: machinesRowTemplate,
      bodyTemplate: machinesBodyTemplate
      }">
</ng-container>

<!-- Motes -->

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.addedMotes, 
      title:'Added Motes',
      rowTemplate: motesRowTemplate,
      bodyTemplate: motesBodyTemplate
      }">
</ng-container>

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.removedMotes, 
      title:'Removed Motes',
      rowTemplate: motesRowTemplate,
      bodyTemplate: motesBodyTemplate
      }">
</ng-container>

<!-- Sensors -->

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.addedSensors, 
      title:'Added Sensors',
      rowTemplate: sensorsRowTemplate,
      bodyTemplate: sensorsBodyTemplate
      }">
</ng-container>

<ng-container *ngTemplateOutlet="resumeDataTemplate; 
    context: {data:resumeData.removedSensors, 
      title:'Removed Sensors',
      rowTemplate: sensorsRowTemplate,
      bodyTemplate: sensorsBodyTemplate
      }">
</ng-container>


<ng-container *ngIf="resumeData.addedMachines.length==0 && resumeData.removedMachines.length==0 &&
resumeData.addedOperations.length==0 && resumeData.removedOperations.length==0 &&
resumeData.addedSensors.length==0 && resumeData.removedSensors.length==0 &&
resumeData.addedMotes.length==0 && resumeData.removedMotes.length==0">
    <p class="p4">No data was added </p>
</ng-container>

