<header class="header-6">
    <div class="branding">
        <a class="nav-link">
            <div *ngIf="settings!==null && settings!==undefined">
                <clr-icon [attr.shape]="settings.icon"></clr-icon>
                <span class="title">{{settings.name}}</span>
            </div>
        </a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <div *ngFor="let item of contextMenu">
                    <li clrDropdownItem (click)="onContextMenuClick(item)">Log out</li>
                </div>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
