@import '../../../node_modules/@clr/icons/clr-icons.css';
@import '../../../node_modules/@clr/ui/clr-ui.css';

html,
body,
app-root {
  margin: 0;
}

.container {
  padding: 10px;
}

.hand-pointer {
  cursor: pointer;
}

.space-between-s {
  margin-left: 10px;
  margin-right: 10px;
}

.space-right-s {
  margin-right: 15px;
}

.space-up-down-s {
  margin-top: 15px;
  margin-bottom: 15px;
}

.inline {
  display: inline-block;
}

.block-display {
  display: block;
}
